<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" th:href="@{/ImagenesPrueba/sweet_stout.jpeg}" /> <!--  PARA CAMBIAR EL ICONO DE LA EMPRESA -->
	<title>REGISTRO DE PRODUCTOS</title>
	<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">
	<link rel="stylesheet" href="/css/registrar_producto.css">
	<link rel="stylesheet" href="/css/toast.css">
	<link rel="stylesheet" href="/css/volver.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
	<!---------------------------- header section stars ---------------------------->
	<header class="header">
		<div id="menu-btn" class="fas fa-bars"></div>
		<a href="#" class="logo"> <span>Inka</span>Manu </a>
		<nav class="navbar">
			<a href="#home">Principal</a>
			<a href="#featured">Productos</a>
			<a href="#descripcion">Descripción</a>
			<a href="#mision">Misión y Visión</a>
			<a href="#contact">Contacto</a>
			<a id="register-btn">Registrarse</a>
		</nav>

		<div class="iconosxd">
			<div class="fas fa-shopping-cart" id="cart-btn"></div>
			<div class="far fa-user" id="login-btn"></div>
		</div>
	</header>
	<!---------------------------- header section ends ---------------------------->

	<!---------------------------- login form ---------------------------->
	<div class="login-form-container">
		<span class="fas fa-times" id="close-login-form"></span>
		<form action="">
			<h3>INICIO DE SESIÓN DE USUARIO</h3>
			<input type="email" placeholder="Correo electrónico" class="box">
			<input type="password" placeholder="Contraseña" class="box">
			<p>Olvidé Mi Contraseña <a href="#">Haga Clic Aquí</a></p>
			<input type="submit" value="Inicia sesión ahora" class="btn">
			<p>No tienes una cuenta <a id="register-link" href="#">Crea una</a></p>
		</form>
	</div>
	<!---------------------------- login form ---------------------------->

	<!---------------------------- register form  ---------------------------->
	<div class="register-form-container">
		<span class="fas fa-times" id="close-register-form"></span>
		<form action="">
			<h3>REGISTRO DE SESIÓN</h3>
			<div class="inputBox">
				<div class="input">
					<span>Nombres</span>
					<input type="text" placeholder="Introduzca su nombre">
				</div>

				<div class="input">
					<span>Apellido Paterno</span>
					<input type="text" placeholder="Introduzca su apellido">
				</div>
			</div>

			<div class="inputBox">
				<div class="input">
					<span>Apellido Materno</span>
					<input type="text" placeholder="Introduzca su apellido">
				</div>

				<div class="input">
					<span>Número de DNI</span>
					<input type="number" placeholder="Ejemplo: 12345678" min="1" minlength="8">
				</div>
			</div>

			<div class="inputBox">
				<div class="input">
					<span>Email</span>
					<input type="email" placeholder="jesus_soria@usmp.pe">
				</div>

				<div class="input">
					<span>Celular</span>
					<input type="number" placeholder="Ejemplo: 927572267">
				</div>
			</div>

			<div class="inputBox">
				<div class="input">
					<span>Genero</span>
					<select>
						<option value="" disabled selected>Seleccione su género</option>
						<option value="masculino">Masculino</option>
						<option value="femenino">Femenino</option>
					</select>
				</div>

				<div class="input">
					<span>Fecha de Nacimiento</span>
					<input type="datetime-local">
				</div>
			</div>

			<div class="inputBox">
				<div class="input">
					<span>Contraseña</span>
					<input type="password" placeholder="******">
				</div>

				<div class="input">
					<span>Confirmar Contraseña</span>
					<input type="password" placeholder="******">
				</div>
			</div>
			<input type="submit" value="Registrar" class="btn">
			<p>¿Ya eres miembro? <a id="login-link" href="#">Inicia tu sesión</a></p>
		</form>
	</div>
	<!---------------------------- register form ---------------------------->

	<!---------------------------- register product form  ---------------------------->
	<div class="register-product-form-container">
		<form th:action="@{/inkamanu/admin/guardarProductoNuevo}" th:object="${productoDTO}" th:method="post"
			enctype="multipart/form-data">
			<div class="volverAtras"><a th:href="@{listaProductos}"><i class="fa-sharp fa-solid fa-arrow-left"
						style="color: #000000;"></i> Volver</a></div>
			<h3>REGISTRO DE PRODUCTOS</h3>
			<div class="inputBox">
				<div class="input">
					<span>Nombre del producto</span>
					<input type="text" placeholder="Ingrese el nombre del producto" th:field="*{nombre}">
					<div class="errors" th:errors="*{nombre}"></div>
				</div>

				<div class="input">
					<span>Descripción del producto</span>
					<input type="text" placeholder="Introduzca su descripción" th:field="*{descripcion}">
					<div class="errors" th:errors="*{descripcion}"></div>
				</div>
			</div>

			<div class="inputBox">
				<div class="input">
					<span>Cantidad en Stock</span>
					<input type="number" placeholder="Introduzca la cantidad" th:field="*{stock}">
					<div class="errors" th:errors="*{stock}"></div>
				</div>

				<div class="input">
					<span>Grado de Alcohol</span>
					<input class="errors" type="number" placeholder="Ejemplo: 5%" min="1">
				</div>
			</div>

			<div class="inputBox">
				<div class="input">
					<span>Precio del Producto</span>
					<input type="number" placeholder="Ejemplo: S/.50 soles" step="0.01" min="0" th:field="*{precio}">
					<div class="errors" th:errors="*{precio}"></div>
				</div>

				<div class="input">
					<span>Tipo de Cerveza</span>
					<select>
						<option value="" disabled selected>Seleccione una opción</option>
						<option value="1">Lager</option>
						<option value="2">Ale</option>
						<option value="3">Cerveza de Trigo(Wheat Beer)</option>
						<option value="4">Cerveza de Abadia(Abbey Beer)</option>
						<option value="5">Cerveza Lambic</option>
						<option value="6">Cerveza de Especias</option>
						<option value="7">Cerveza de Temporada</option>
						<option value="8">Cerveza Artesanal (Craft Beer)</option>
						<option value="9">Sin Alcohol o Baja en Alcohol</option>
						<option value="10">Sin Gluten</option>
						<option value="11">Híbrida o Experimental</option>
					</select>
				</div>
			</div>

			<div class="inputBox">
				<div class="input">
					<span>Porcentaje de descuento</span>
					<select>
						<option value="" disabled selected>Seleccione una opción</option>
						<option value="5">5%</option>
						<option value="10">10%</option>
						<option value="No">No existe descuento en este producto</option>
					</select>
				</div>

				<div class="input">
					<span>Imagen del Producto</span>
					<input type="file" th:field="*{imagen}">
				</div>
			</div>
			<input type="submit" value="Registrar Producto" class="btn">
		</form>
	</div>
	<!---------------------------- register product form ---------------------------->
	<!---------------------------- footer section stars  ---------------------------->

	<section class="footer">
		<div class="box-container">
			<div class="box">
				<h3>Enlaces Rápidos</h3>
				<a href="#home"> <i class="fas fa-arrow-right"></i> Principal </a>
				<a href="#featured"> <i class="fas fa-arrow-right"></i> Productos </a>
				<a href="#descripcion"> <i class="fas fa-arrow-right"></i> Descripción </a>
				<a href="#mision"> <i class="fas fa-arrow-right"></i> Misión y Visión </a>
				<a href="#contact"> <i class="fas fa-arrow-right"></i> Contactanos </a>
			</div>

			<div class="box">
				<h3>Datos De Contacto</h3>
				<a> <i class="fas fa-phone"></i> +51 927572267 </a>
				<a> <i class="fas fa-envelope"></i> jesus_soria@gmail.com </a>
				<a> <i class="fas fa-map-marker-alt"></i> Av. Prol. Javier Prado Este 8680, Ate 15494 </a>
			</div>

			<div class="box">
				<h3>Redes</h3>
				<a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
				<a href="https://api.whatsapp.com/send?phone=XXXXXXXXXXX" target="_blank"><i
						class="fab fa-whatsapp"></i> WhatsApp</a>
			</div>

			<div class="box">
				<h3>Desarrolladores</h3>
				<a> <i class="fas fa-code"></i> Arturo T. Aliaga Silva </a>
				<a> <i class="fas fa-laptop-code"></i> Matias N Araujo Vera </a>
				<a> <i class="fas fa-cogs"></i> Yasser M. Avalos Montero </a>
				<a> <i class="fas fa-terminal"></i> Lucas A. Espinoza Laurente </a>
				<a> <i class="fas fa-laptop"></i> Kristell Y. Flores Huamani </a>
				<a> <i class="fas fa-user-cog"></i> Jesús A. Soria Llantoy </a>
				<a> <i class="fas fa-code-branch"></i> Brandon J. Viru Camones </a>
			</div>
		</div>
		<div class="credit"> @Copyright - Todos los derechos reservados! </div>
	</section>



	<!---------------------------- footer section ends  ---------------------------->

	<!-- <div class="toast" id="toast">Producto agregado<button class="btn-cerrar" id="btn-cerrar"><i
				class="fa-solid fa-xmark fa-xl" style="margin-left: 10px;"></i></button>
		<div class="linea"></div>
	</div> -->

	<div th:if="${success != null}" class="toast" id="toast"><span th:text="${success}"></span><button
			class="btn-cerrar" id="btn-cerrar"><i class="fa-solid fa-xmark fa-xl"
				style="margin-left: 10px;"></i></button>
		<div class="linea"></div>
	</div>

	<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

	<script>
		let menu = document.querySelector('#menu-btn');
		let navbar = document.querySelector('.navbar');

		menu.onclick = () => {
			menu.classList.toggle('fa-times');
			navbar.classList.toggle('active');
		}

		document.querySelector('#login-btn').onclick = () => {
			document.querySelector('.login-form-container').classList.toggle('active');
		}

		document.querySelector('#close-login-form').onclick = () => {
			document.querySelector('.login-form-container').classList.remove('active');
		}

		// Agrega el siguiente código para manejar el clic en el enlace de inicio de sesión
		document.querySelector('#login-link').onclick = () => {
			document.querySelector('.login-form-container').classList.toggle('active');
			document.querySelector('.register-form-container').classList.remove('active');
		}

		/* hasta aqui */

		document.querySelector('#register-btn').onclick = () => {
			document.querySelector('.register-form-container').classList.toggle('active');
		}

		document.querySelector('#close-register-form').onclick = () => {
			document.querySelector('.register-form-container').classList.remove('active');
		}

		// Agrega el siguiente código para manejar el clic en el enlace de registro de sesión
		document.querySelector('#register-link').onclick = () => {
			document.querySelector('.register-form-container').classList.toggle('active');
			document.querySelector('.login-form-container').classList.remove('active');
		}

		/* hasta aqui */

		window.onscroll = () => {
			if (window.scrollY > 0) {
				document.querySelector('.header').classList.add('active');
			} else {
				document.querySelector('.header').classList.remove('active');
			}

			menu.classList.remove('fa-times');
			navbar.classList.remove('active');
		}

		window.onload = () => {
			if (window.scrollY > 0) {
				document.querySelector('.header').classList.add('active');
			} else {
				document.querySelector('.header').classList.remove('active');
			}
		}

		var swiper = new Swiper(".featured-slider", {
			slidesPerView: 1,
			spaceBetween: 20,
			loop: true,
			grabCursor: true,
			centeredSlides: true,
			autoplay: {
				delay: 1500,
				disableOnInteraction: false,
			},
			pagination: {
				el: ".swiper-pagination",
				clickable: true,
			},
			breakpoints: {
				0: {
					slidesPerView: 1,
				},
				768: {
					slidesPerView: 2,
				},
				991: {
					slidesPerView: 3,
				},
			},
		});
	</script>
	<script src="/js/toast.js"></script>
	<script src="https://kit.fontawesome.com/c37024d023.js" crossorigin="anonymous"></script>
</body>

</html>